@font-face {
  font-family: "T TNorms Pro";
  src: url("../fonts/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "T TNorms Pro";
  src: url("../fonts/TTNormsPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "T TNorms Pro";
  src: url("../fonts/TTNormsPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "T TNorms Pro";
  src: url("../fonts/TTNormsPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
